interface Ethernet1
   spanning-tree portfast
   spanning-tree cost 1
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
interface Ethernet7
!
interface Management1
   shutdown
!
interface Vlan1
   ip address {{ vlan1_ip }}
