interface FastEthernet4
 description *** LAN connection (don't change) ***
 ip address {{ ip_addr }} {{ netmask }}
 duplex auto
 speed auto
!
{%- if vlan1 == True %}
interface Vlan1
 description *** Test description ***
 ip address {{ vlan1_ip_addr }} {{ vlan1_netmask }}
 duplex auto
 speed auto
{%- endif %}
