{%- for module, module_vars in modules.items() %}
{%- for port_number in module_vars['ports'] %}
interface GigabitEthernet{{ module }}/{{ port_number }}
 switchport mode access
 switchport access vlan {{ module_vars.default_vlan }}
 spanning-tree portfast
 spanning-tree bpduguard enable
!
{%- endfor %}
{%- endfor %}
